// FJP testing idea: storing shared content in a service
section#page-about
	.row
		.large-12.columns
			h1(ng-bind-html='copy.about.heading')

section#mast-about
	.row
		.large-12
			a(name='who-we-are')
			h3(ng-bind-html='copy.about.sub_heading')
			div(ng-bind-html='copy.about.copy')
			hr.headspace20

ng-include(src="'shared/bios.html'")