style.
  .row {
  text-align:center !important;
  }
  h6 {
  text-align:center !important;
  height:60px !important;
  padding:0px !important;
  margin:0px !important;
  }
  h2 {
  text-align:center !important;

  }

section#main-content.first(style='background-color: #efefef;margin-top:-80px;padding-top:80px;')
  .row
    .large-9
      .row
        .large-2.columns
        .large-8.columns
          h6 Contact me
          br
          br
          h2 
            a(href='mailto:franchino.nonce@gmail.com') franchino.noncé@gmail.com
          h6 Github
          br
          br
          h2 
            a(href='https://github.com/frangucc') https://github.com/frangucc
          h6 Hangouts
          br
          br
          h2 
            a(href='https://plus.google.com/u/0/104368505327130449944/posts') Google.com/franchino

          h6 Twitter
          br
          br
          h2 
            a(href='https://twitter.com/franchino_che') Twitter.com/franchino_che
            

    aside.large-3.columns


  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br