section.about-hero(style='background-color:#fff;margin:-60px 0 0px 0;padding:0px 0 0 0;height:100px;')
  .row
    .large-12.text-left(style='margin-left:5%;padding:50px 0 60px 0;')
section.maint-content(style='background-color:#202b39;padding:50px;')
  .row
    .large-12.centered-text
      h1(style='color:#fff !important;') Get Started
      h5(style='color:#fff !important') In Six Easy Steps
      div
        a.large.button(href='index.html#/contact', style='color:#fff !important;border:.125rem solid #fff') Sign Up for Tapcentive
section#main-content(style='background-color:#fff;margin-top:0px;')
  .row
    .large-12.columns.centered-text
      br
      h5(style='padding-top:0px;')
        | After installing the SDK on your hard drive, run the following commands and begin tapping away.
      br
      br
  .row.centered-text
    img(src='./img/steps@2x.png', width='100%')
  .row.centered-text.bottomspace40
    br
    br
section#main-content
  .row.centered-text
    hr.margin-bottom-40px
    br
    .large-12.columns
      br
      h2 Links to Additional Resources
  .row.centered-text
    .medium-4.large-4.columns.supporticons
      a(href='index.html#/beacon-ble-nfc-connected-touchpoint')
        img(src='img/dev-order.png')
      h5
        strong
          | Order Sample
          br
          | Touchpoints
        br
        br
        | GSM chipped and ready for any device, including iPhone4
    .medium-4.large-4.columns.supporticons
      a(href='index.html#/tapcentive-beacon-nfc-cloud-manager')
        img(src='img/dev-mac.png')
      h5
        strong
          | Incentive Builder, CMS
          br
          | & Reporting Platform
        br
        br
        | Create locations, rewards and campaigns. Customize everything
    .medium-4.large-4.columns.supporticons
      a(href='index.html#/beacon-ble-nfc-mobile-api-sdk')
        img(src='img/dev-ref.png')
      h5
        strong
          | SDK & Themable
          br
          | Starter Apps
        br
        br
        | Launch your own apps or user our gamified incentive apps
  .row.centered-text(style='')
    .large-12.columns
      hr.margin-bottom-40px
      .medium-4.large-4.columns.supporticons
        a(href='index.html#/beacon-ble-nfc-connected-touchpoint')
          img(src='img/dev-sdk.png')
        h5
          strong
            | Connected BLE
            br
            | Touchpoints with NFC
          br
          br
          | GSM chipped and ready for any device, including iPhone4
      .medium-4.large-4.columns.supporticons
        a(href='index.html#/tapcentive-beacon-nfc-cloud-manager')
          img(src='img/dev-adminapp.png')
        h5
          strong
            | Incentive Builder,
            br
            | CMS & Reporting Platform
          br
          br
          | Create locations, rewards and campaigns. Customize everything
      .medium-4.large-4.columns.supporticons
        a(href='index.html#/beacon-ble-nfc-mobile-api-sdk')
          img(src='img/dev-mac.png')
        h5
          strong
            | SDK & Themable
            br
            | Starter Apps
          br
          br
          | Launch your own apps or user our gamified incentive apps
    .row.centered-text.headspace-20
      .large-12.columns
        div
          a.large.button(href='index.html#/contact') Sign Up for Tapcentive
