style.
  body {
    text-align:center
  }
  #alt-caption {
  padding-top:30px;
  }

  .nav {
  margin-left:8px;
  }
  .nav a {
  margin-right:0px;
  }
  #nav-row .left {
  text-align:center;
  }
  #nav-row .right {
  text-align:center;
  }
  .skills {
  position:relative;
  left:10px;
  margin-top: 10%;
  z-index:99999999;
  }
  .banner { position: relative; overflow: auto; }
  .banner li { list-style: none; }
  .banner ul li { float: left; }
  .sticker {
  width:50px;
  height:50px;
  color: #fff;
  padding:12px 0 20px 0;
  font-weight:800;
  font-family: Roboto;
  font-family:18px;
  }

  .pink {
    background-color: #ee0f5e;
    width:50px;
  height:50px;
    color: #fff;
  padding:12px 0 20px 0;
  font-weight:800;
  font-family: Roboto;
  margin-left:-150px;
  margin-top:40px;

  }
  .green {
    background-color:#b0c543;
    width:50px;
  height:50px;
    color: #fff;
  padding:12px 0 20px 0;
  font-weight:800;
  font-family: Roboto;
  margin-left:-150px;
  margin-top:-20px;
    
  }
  .yellow {
    background-color:#ffda0d;
    width:50px;
  height:50px;
    color: #fff;
  padding:12px 0 20px 0;
  font-weight:800;
  font-family: Roboto;
  margin-left:-150px;
  margin-top:-20px;

  }
  .orange {
    background-color:#ff6406;
    width:50px;
  height:50px;
    color: #fff;
  padding:12px 0 20px 0;
  font-weight:800;
  font-family: Roboto;
  margin-left:-150px;
  margin-top:-20px;

  }

  .blue {
    background-color:#01a1ff;
    width:50px;
  height:50px;
    color: #fff;
  padding:12px 0 20px 0;
  font-weight:800;
  font-family: Roboto;
  margin-left:-150px;
  margin-top:-20px;


  }
  .purple {
    background-color:#420085;
    width:50px;
  height:50px;
    color: #fff;
  padding:12px 0 20px 0;
  font-weight:800;
  font-family: Roboto;
  margin-left:-150px;
  margin-top:-20px;

  }


  @media screen and (max-width: 1100px) {

  #main-content {
    margin-top:-20px;
    }
  }
  @media screen and (min-width: 1100px) {
  body {
  background-color: #15161a;
  text-align:center;
  }
  #main-content .first {

  }
  section {
    text-align:center !important;
    width: 80% !important;
    padding: 0px 100px 0px 100px;
    margin-left:10% !important;  
    background-color: #efefef;
    }
  .row {
    text-align:center;
  }

  }


section#main-content(style='background-color: #efefef;margin-top:-40px;')
  .row
    .large-12.columns.sticker
      p.pink UX
      p.green FE
    .clear
    .large-12.columns
      ng-include(src="'shared/slideshows/slide_tap_one.html'")

section#main-content(style='background-color: #e3e3e3;')
  .row
    .large-12.columns.sticker
      p.pink UX
      p.green FE
      p.yellow CS
    .clear
    .large-12.columns.centered-text
      ng-include(src="'shared/slideshows/slide_tap_two.html'")


section#main-content(style='background-color: #626773;')
  .row
    .large-12.columns.sticker
      p.pink UX
      p.orange ID
      p.blue FS
    .clear
    .large-12.columns.centered-text
      ng-include(src="'shared/slideshows/slide_cpgio.html'")

section#main-content(style='background-color: #e5e5e5;')
  .row
    .large-12.columns.sticker
      p.pink UX
      p.yellow CS
    .large-12.columns.centered-text
      ng-include(src="'shared/slideshows/slide_medycation.html'")

section#main-content(style='background-color: #afdeee;')
  .row
    .large-12.columns.sticker
      p.pink UX
      p.green FE
    .large-12.columns.centered-text
      ng-include(src="'shared/slideshows/slide_cst.html'")

section#main-content(style='background-color: #1d1d1d;')
  .row
    .large-12.columns.sticker
      p.pink UX
      p.yellow CS
      p.green FE
    .large-12.columns.centered-text
      ng-include(src="'shared/slideshows/slide_koupn.html'")

section#main-content(style='background-color: #f0f0f0;')
  .row
    .large-12.columns.sticker
      p.pink UX
      p.orange ID
    .large-12.columns.centered-text
      ng-include(src="'shared/slideshows/slide_tround.html'")

section#main-content(style='background-color: #1575d8;')
  .row
    .large-12.columns.sticker
      p.pink UX
      p.green FE
      p.purple V
    .large-12.columns.centered-text
      ng-include(src="'shared/slideshows/slide_monthlys.html'")

section#main-content(style='background-color: #efefef;')
  .row
    .large-12.columns.sticker
      p.pink UX
      p.green FE
      p.purple V
    .large-12.columns.centered-text
      ng-include(src="'shared/slideshows/slide_monthlys_two.html'")







