section#main-content.first(style='background-color: #efefef;margin-top:-80px;')
  .row
    .large-12.columns.centered-text
      h3(style='margin-bottom:5px;') Franchino 
      p(style='margin-top:-7px;') 
        span(style='font-family: Georgia, serif !important') 
          i Experience Designer &amp; Front-End MVC Developer
        br
        a(href='/', style='') Home &nbsp; 
        a(href='/#/resume', style='') Resumè &nbsp;
        a(href='/#/blog', style='') Blog &nbsp;
        a(href='/#/contact', style='') Contact 

      



