a(name='top')
section.homepage-hero(style='background-color:#44acd3;margin:-80px 0 60px 0;padding:40px 0 0 0;')
  .row
    .large-12.text-left(style='margin-left:5%;padding:50px 0 60px 0px;background:url("/img/ctp_laying.png") no-repeat;background-size:50%;backgroud-repeat:;background-position:100% 60%')
      br
      h2
        | The Tapcentive Touchpoint
        br
        | - a
        strong &nbsp;visible call to action
        | &nbsp;to trigger
        br
        | mobile engagement with a tap.
      br
      .hide-for-small
        a.large.button(href='index.html#/contact', style='background-color:#efefef !important') Sign Up
      h5
        strong With the Touchpoint, you can:
      h3
        ul(style='font-family:Helvetica, Roboto, Arial, "sans-serf" !important;')
          li Train consumers to engage over and over again
          li Drive foot traffic where and when you want it
          li Reach both iOS and Android users
          li Receive daily diagnostic updates
          li Customize the look and feel
      br
section#main-content(style='margin-top:-60px;background-color:#fff')
  .row(style='padding:60px 0 0px 0;')
    .large-12.columns.centered-text
      h2 Reach iOS and Android users with the Tapcentive Touchpoint
      img(src='./img/diagram@2x.jpg')
  .row.centered-text(style='padding-top:50px;')
    .medium-4.large-4.columns.supporticons
      h5(style='margin-top:0px;')
        strong Bluetooth Beacon
        br
        br
        | Bluetooth Smart Ready provides device reach across iOS 7.1+ and Android 4.3+.
    .medium-4.large-4.columns.supporticons
      h5(style='margin-top:0px;')
        strong Near Field Communication
        br
        br
        | NFC Type 4 chip provides reach to Android users with or without your mobile app.
    .medium-4.large-4.columns.supporticons
      h5(style='margin-top:0px;')
        strong Cellular Radio
        br
        br
        | 2.5/3G GSM module for remote management via the Tapcentive Manager.
section#main-content(style='margin-top:-20%;background-color:#efefef')
  .row.centered-text
    .large-12.columns(style='padding:40px 0 40px 0;')
      br
      h2 Make it yours
      br
      br
      img(src='img/custom-beacons.png', width='60%')
      h3(style='font-size:1.2rem;padding:40px 0 40px 0;')
        | Customize Touchpoint appearance with company logo and colors.
        br
        | We even support Touchpoint casing redesigns.
section.main-content(style='background-color:#efefef;margin-top:-40px;')
  .row.centered-text.headspace-20
    .large-12.columns
      div
        a.large.button(href='index.html#/contact') Sign Up for Tapcentive
      br
