a(name='top')
section#page-platform-mobile(style='background-color:#b7d400;margin:-80px 0 60px 0;padding:40px 0 0 0;')
  .row
    .large-12.text-left(style='margin-left:5%;padding:50px 0 60px 0;background:url("/img/phone@2x.jpg") no-repeat;background-size:50%;backgroud-repeat:;background-position:100% 60%')
      br
      h2
        strong Ready-to-roll
        | &nbsp;iOS &amp; Android SDKs
        br
        | packed with embedded experiences
        br
        | that make integration easy.
      br
      .hide-for-small
        a.large.button(href='index.html#/contact', style='background-color:#efefef !important') Sign Up
      h5
        strong With the SDK, you can:
      h3
        ul(style='font-family:Helvetica, Roboto, Arial, "sans-serf" !important;')
          li  Enable your app quickly and seamlessly
          li  Deliver fun and immersive mobile experiences
          li  Customize look and feel of app pages
          li  Receive real-time tap and location events
          li  Link your customer records to tap data
section#main-content(style='margin-top:0px;background-color:#fff')
  .row(style='padding:0px 0 0px 0;')
    .large-12.columns.centered-text
      h2 Bring your app to life with amazing embedded experiences
  .row.centered-text
    .row(style='padding:40px 0 0px 0;')
      .large-3.columns.centered-text
        img(src='./img/mo-1.jpg')
      .large-3.columns.centered-text
        img(src='./img/mo-2.jpg')
      .large-3.columns.centered-text
        img(src='./img/mo-3.jpg')
      .large-3.columns.centered-text
        img(src='./img/mo-4.jpg')
    h5(style='font-size:1.2rem;padding:30px 0 0px 0;') Slots, Scratcher, Spin &amp; Win, and Instant Rewards
section#main-content(style='background-color:#efefef')
  .row.centered-text
    .large-12.columns(style='padding:60px 0 30px 0;')
      h2 Our SDK securely integrates your App with the Tapcentive platform
      img(src='img/sdk_screen@2x.png', width='70%')
    br
    br
section#main-content(style='margin-top:0%;background-color:#fff')
  .row.centered-text
    .large-12.columns(style='padding:40px 0 40px 0;')
      br
      h2 Programmatically interact with the SDK
      h5(style='font-size:1.2rem;padding:0px 0 0px 0;')
        | Receive real-time tap events that interact with your CRM, Loyalty, &amp; Ordering engines
      br
      br
      img(src='img/fragments.jpg', width='70%')
section.main-content
  .row.centered-text.headspace-20
    .large-12.columns
      div
        a.large.button(href='index.html#/contact') Sign Up for Tapcentive
      br
