a(name='top')
section.homepage-hero(style='background-color:#ffdd3e;margin:-80px 0 60px 0;padding:40px 0 0 0;')
  .row
    .large-12.text-left(style='margin-left:5%;padding:50px 0 60px 0px;background:url("/img/manager@2x.png") no-repeat;background-size:50%;backgroud-repeat:;background-position:100% 60%')
      br
      h2
        | A
        strong &nbsp;complete
        | &nbsp;cloud based console
        br
        | for creating, managing,
        br
        | and measuring campaigns.
      br
      .hide-for-small
        a.large.button(href='index.html#/contact', style='background-color:#efefef !important') Sign Up
      h5
        strong With the Tapcentive Manager, you can:
      h3
        ul(style='font-family:Helvetica, Roboto, Arial, "sans-serf" !important;')
          li Remotely manage touchpoints, campaigns, and locations
          li Set campaign rules with a click
          li Manage your custom campaign icons and assets
          li Target segments, audiences and locations
          li Get reports, insights and analytics
section#main-content(style='background-color:#f0f0f0;margin:-60px 0 0 0;padding:40px 0 40px 0;')
  .row.centered-text
    .large-4.columns.text-left(style='margin:50px 0 0 40px;')
      h2 Design campaigns right from your desktop:
      h5
        | Quickly create and deploy mobile campaigns such as simple coupons, rich content, sweepstakes, randomized rewards and treasure hunts.
    .large-7.columns.text-left(style='margin-top:-40px;')
      img(src='./img/gif/incentive_type.gif')
section#main-content(style='background-color:#fff;margin:-40px 0 0 0;padding:0px 0 0 0;')
  .row.centered-text
    .large-6.columns.text-left.headspace-20
      img(src='./img/gif/audiences.gif')
    .large-6.columns.text-left(style='padding:100px 0 0 60px;')
      h2 Target audiences with differentiated content and mobile experiences:
      h5
        | Connect with your best customers and offer them exclusive incentives that inspire loyalty.
section#main-content(style='background-color:#fff;margin:-100px 0 0 0;padding:100px 0 0 0;')
  .row.centered-text
    hr.margin-bottom-40px
    .large-6.columns.text-left.headspace-20(style='padding:100px 0 0 0px;')
      h2 Geotarget your customer with precise location-based campaigns:
      h5
        | Create and manage multiple areas within a location and target them with content and incentives.
    .large-6.columns
      img(src='./img/gif/target_locations.gif', width='')
section#main-content(style='background-color:#dedede')
  .row.centered-text
    hr.margin-bottom-40px
    .large-12.columns(style='padding:0 0 20px 0;')
      br
      h2 Configurable campaign rules that keep consumers engaged
    .large-4.columns
      img(src='./img/dot1.jpg', width='')
    .large-4.columns
      img(src='./img/dot2.jpg', width='')
    .large-4.columns(style='padding:0 0 40px 0;')
      img(src='./img/dot3.jpg', width='89%')
section#main-content
  .row.centered-text
    .large-12.columns
      br
      h3 Track app activations, tap engagements, incentive ditribution, and redemptions
      br
      br
      img(src='img/gif/report.gif', width='80%')
section.main-content
  .row.centered-text.headspace-20
    .large-12.columns
      div
        a.large.button(href='index.html#/contact') Sign Up for Tapcentive
      br
