a(name='top')
// FJP testing idea: storing shared content in a service
section#page-press
  .row
    .large-12.columns
      h1 We're in the news


section#main-content
  .row(style='padding: 80px 0 0 0;')
    .large-10.columns(style='padding: 0px 0 0 10%;')
      .row
        .large-2.columns.small-3
          img(src='img/internet-retailer-1.png')
          br
        .large-12.columns
          p
            strong Posted by Internet Retailer on October 10, 2014 at 10:00 AM
            br
            p 
              a(href='http://www.businesswire.com/news/home/20141002005201/en/NFC-Forum-Launches-NFC-Developer-Program#.VHSrj2TF8SM', target="_blank") An in-store mobile commerce system lures shoppers to beacons
            p What stands out about TapcentiveÕs approach to mobile in-store is visibility. To date, most vendors and merchants that have experimented with in-store mobile marketing have done so invisibly. 
            a(href='http://www.businesswire.com/news/home/20141002005201/en/NFC-Forum-Launches-NFC-Developer-Program#.VHSrj2TF8SM', target="_blank") Read Article

          ul.inline-list
      hr 
      .row
        .large-2.columns.small-3
          img(src='http://streetfightmagcom.b.presscdn.com/wp-content/uploads/logo041211.jpg')
          br
        .large-12.columns
          p
            strong Posted by StreetFight on October 10, 2014 at 6:50 AM
            br
            p 
              a(href='http://streetfightmag.com/2014/10/08/former-visa-exec-wants-shoppers-to-make-the-first-move/', target="_blank") Former Visa Exec Wants Mobile Shoppers to Make the First Move
            p In the marketing industry, startup types wax poetic about the the power of bluetooth beacons to revolutionize the way we shop. But Dave Wentker, the former director of VisaÕs emerging technology division, is questioning whether beacons are truly enough to really change consumersÕ shopping habits.
            a(href='http://streetfightmag.com/2014/10/08/former-visa-exec-wants-shoppers-to-make-the-first-move/', target="_blank") Read Article

          ul.inline-list
      hr 
      .row
        .large-2.columns.small-3
          img(src='img/evigo.png')
          br
        .large-12.columns
          p
            strong Posted by Evigo on October 8, 2014 at 10:00 AM
            br
            p 
              a(href='http://evigo.com/16442-tapcentive-tap-omnichannel-retail-mobile-capabilities/', target="_blank") Tapcentive: tap into omnichannel retail through mobile capabilities
            p Tapcentive is focused on bridging the gap between the digital and physical worlds. Many brick-and-mortar retailers are faced with showrooming and disintermediation that ultimately steer sales away from their stores to an online environment,Ó Dave Wentker, CEO of Tapcentive told Evigo.
            a(href='http://evigo.com/16442-tapcentive-tap-omnichannel-retail-mobile-capabilities/', target="_blank") Read Article

          ul.inline-list
      hr
      .row
        .large-2.columns.small-3
          img(src='http://ybltv.com/wp-content/uploads/2012/10/ybltv-logo-call-letters.jpg')
          br
        .large-12.columns
          p
            br
            strong Posted by NFC Forum on October 2, 2014 at 8:45 AM
            br
            p 
              a(href='http://ybltv.com/2014/09/smart-retailers-must-catch-the-next-big-wave-with-nfcble-marketing-from-tapcentive/', target="_blank") Smart Retailers Must Catch the Next Big Wave With NFC/BLE Marketing From Tapcentive 
            p NFC (Near Field Communication) and BLE (Blue Tooth Low Energy) are HOT buzzwords in mobile commerce. Retailers are focusing more and more on interactive in-store experiences that include these technologies for better consumer engagement and ease of payment.
            a(href='http://ybltv.com/2014/09/smart-retailers-must-catch-the-next-big-wave-with-nfcble-marketing-from-tapcentive/', target="_blank") Read Article

          ul.inline-list
      hr
      .row
        .large-2.columns.small-3
          img(src='http://67.222.41.204/wp-content/uploads/2013/10/NFC_Forum.png')
          br
        .large-12.columns
          p
            strong Posted by NFC Forum on October 2, 2014 at 9:00 AM
            br
            p 
              a(href='http://www.businesswire.com/news/home/20141002005201/en/NFC-Forum-Launches-NFC-Developer-Program#.VHSrj2TF8SM', target="_blank") NFC Forum Launches NFC Developer Program
            p The NFC Forum today launched its "Tap Into NFC" Developer Program, which delivers resources and support to developers worldwide to leverage the power of NFC for innovative applications and services. "Tap Into NFC" is designed to support application developers via events, networking opportunities, and a new, dedicated website comprising developer kits and technical specs, news, and product spotlights. These resources will enable developers to sharpen their NFC proficiency and accelerate the deployment of solutions that bring the power and convenience of NFC to the lives of consumers and businesses worldwide.
            a(href='http://www.businesswire.com/news/home/20141002005201/en/NFC-Forum-Launches-NFC-Developer-Program#.VHSrj2TF8SM', target="_blank") Read Article

          ul.inline-list
      hr
      .row
        .large-2.columns.small-3
          img(src='http://www.chainstoreage.com/sites/chainstoreage.com/themes/chainstoreage/images/logo.png')
          br
        .large-12.columns
          p
            br
            strong Posted by Chain Store Age on September 15, 2014 at 1:15 PM
            br
            p 
              a(href='http://www.qrcodepress.com/nfc-technology-bluetooth-deliver-tap-reward-tapcentive/8528262/', target="_blank") Tapcentive launches devices for mobile engagement platform 
            p Tapcentive has launched its NFC- and BLE-connected Touchpoint devices for use with its cloud-based Mobile Engagement Platform. Tapcentive Touchpoints offer marketers visible, interactive engagement technology for driving consumer awareness and influencing in-location behavior. 
            a(href='http://www.qrcodepress.com/nfc-technology-bluetooth-deliver-tap-reward-tapcentive/8528262/', target="_blank") Read Article

          ul.inline-list
      hr 
      .row
        .large-2.columns.small-3
          img(src='https://arkos.io/wp-content/uploads/2013/12/venturebeat.png')
        .large-12.columns
          p
            br
            strong Posted by Venturebeat on September 08, 2014 at 7:15 AM
            br
            p 
              a(href='http://venturebeat.com/2014/09/08/tapcentive-launches-tap-for-reward-brick-and-mortar-mobile-marketing-platform/', target="_blank") Tapcentive adds ‘tap for reward’ devices to brick-and-mortar mobile marketing platform. 
            p Marketing automation companies are trying all sorts of ways and times to push notifications to the mobile phones of potential customers.
            a(href='http://venturebeat.com/2014/09/08/tapcentive-launches-tap-for-reward-brick-and-mortar-mobile-marketing-platform/', target="_blank") Read Article

          ul.inline-list
      hr     
      .row
        .large-2.columns.small-3
          img(src='img/blog-logo-nfctimes.png')
        .large-12.columns
          p
            br
            strong Posted by NFC Times on July 31, 2014 at 2:15 PM
            br
            p 
              a(href='http://nfctimes.com/news/people-move-group-visa-vets-form-start-tapping-nfc-and-ble', target="_blank") People on the Move: Group of VISA Vets Form Start-Up, Tapping NFC and BLE Technologies. 
            p A group of former top managers in Visa's mobile program have formed a start-up that plans to use NFC and BLE to deliver coupons, rewards, and other offers to consumers in stores…
            a(href='http://nfctimes.com/news/people-move-group-visa-vets-form-start-tapping-nfc-and-ble', target="_blank") Read Article

          ul.inline-list
      hr
    