doctype html
html
  head
    title Footbros

    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    meta(name='description', content='The Worlds first and only soccer move database')
    meta(name='author', content='FOOTBROS, inc.')
    meta(name='copyright', content='FOOTBROS, inc. Copyright (c) 2015')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')

    link(rel='stylesheet' href='/css/foundation.css')
    link(rel='stylesheet' href='/css/app.min.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/icon-font.css')
    link(rel='stylesheet' href='/css/ionicons.min.css')
    link(href='nouislider/jquery.nouislider.min.css', rel='stylesheet')

    script(src='/js/cross-storage-hub.js')
    script(src='/js/cross-storage-client.js')
    script(src='/lib/auth0-lock/build/auth0-lock.js')
    script(src='/lib/devicejs/lib/device.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/jquery.js')
    script(src='/js/ionic.bundle.min.js')
    script(src='/lib/auth0-angular/build/auth0-angular.js')
    script(src='/lib/a0-angular-storage/dist/angular-storage.js')
    script(src='/lib/angular-jwt/dist/angular-jwt.js')
    script(src='nouislider/jquery.nouislider.all.min.js')
    script(src='cordova.js')
    script(src='/lib/underscore/underscore.js')
    script(src='/lib/angular-socket-io/socket.js')
    script(src='/js/application.js')
    script(src='js/auth0-variables.js')
    script(src='js/controllers.js')
    script(src='js/product.js')



  body(ng-app='Franchino' animation='slide-left-right-ios7', ng-controller='AppCtrl')
    ng-include(src="'main.html'")
