style.
  .slider-pager {
    display:none !important;
  }
  .profile-item {
  padding:0px !important;
  background-color:#132630 !important;
  color:#fff !important;
  border:0px solid black !important;
  }
  .profile-item-body {
  padding:0px !important;
  }
  .profile-item-body img {
  margin-top:-15px;
  }
  .profile-item p {
  padding:10px;
  color:#fff !important;
  }
ion-view.homepage-hero
  ng-include(src="'actionsheet.html'")
  ion-content(padding='true', scroll='true')
    ion-slide-box
      ion-slide
        div.mobile-heros(style='margin-top:-30px;')
          h1 Hello!
            br
            strong Antonio
          h3 You're a level 3 footbro!
            br
            a(href='#/products', style='padding-top: 40px;') Swipe to see more ->
            br
            br
            img(src='/img/profile_antonio.png', style='margin-top: 0%;width:150px;')
          h3 Welcome to your profile
            br
            | Get to know your stats and do work!
            br
            a(href='/products', style='padding-top: 40px;') Go to Moves
      ion-slide
        h1
          strong Looks like you need practice!
          br
        h3 You've mastered 5 moves
        div.card-bg(has-header='false', padding='false')
          .list.card
            .item(style='background-color:#efefef;border:0px solid #132630 !important;margin-bottom:-2px;')
              h1(style='float:left;font-size:20px;') 
                span(style='color:#0a1a22;') 
                  strong Lift Step Go
              
            .item(style='text-align: center;padding:0px !important;border:0px solid black;')
              img(src='/img/profile_messi.jpg', style='margin-top: -1%;')
            ion-item(style='margin-top:-20px;padding-top:20px;background-color:#05151e;border:0px solid #132630 !important')
              p(style='float:left;') 
                span(style='color:#fff;') Lionel Messi
              p(style='float:right;') 
                span(style='color:#fff;') Comments (3)
        div.card-bg(has-header='false', padding='false')
          .list.card
            .item(style='background-color:#efefef;border:0px solid #132630 !important;margin-bottom:-2px;')
              h1(style='float:left;font-size:20px;') 
                span(style='color:#0a1a22;') 
                  strong Hocus Pocus
              
            .item(style='text-align: center;padding:0px !important;border:0px solid black;')
              img(src='/img/profile_ronaldo.jpg', style='margin-top: -1%;')
            ion-item(style='margin-top:-20px;padding-top:20px;background-color:#05151e;border:0px solid #132630 !important')
              p(style='float:left;') 
                span(style='color:#fff;') Christiano Ronaldo
              p(style='float:right;') 
                span(style='color:#fff;') Comments (10)
        div.card-bg(has-header='false', padding='false')
          .list.card
            .item(style='background-color:#efefef;border:0px solid #132630 !important;margin-bottom:-2px;')
              h1(style='float:left;font-size:20px;') 
                span(style='color:#0a1a22;') 
                  strong La Croqueta
              
            .item(style='text-align: center;padding:0px !important;border:0px solid black;')
              img(src='/img/profile_iniesta.jpg', style='margin-top: -1%;')
            ion-item(style='margin-top:-20px;padding-top:20px;background-color:#05151e;border:0px solid #132630 !important')
              p(style='float:left;') 
                span(style='color:#fff;') Andres Iniesta
              p(style='float:right;') 
                span(style='color:#fff;') Comments (5)
        div.card-bg(has-header='false', padding='false')
          .list.card
            .item(style='background-color:#efefef;border:0px solid #132630 !important;margin-bottom:-2px;')
              h1(style='float:left;font-size:20px;') 
                span(style='color:#0a1a22;') 
                  strong Sheilding
              
            .item(style='text-align: center;padding:0px !important;border:0px solid black;')
              img(src='/img/profile_lahm.jpg', style='margin-top: -1%;')
            ion-item(style='margin-top:-20px;padding-top:20px;background-color:#05151e;border:0px solid #132630 !important')
              p(style='float:left;') 
                span(style='color:#fff;') Philip Lahm
              p(style='float:right;') 
                span(style='color:#fff;') Comments (1)
        div.card-bg(has-header='false', padding='false')
          .list.card
            .item(style='background-color:#efefef;border:0px solid #132630 !important;margin-bottom:-2px;')
              h1(style='float:left;font-size:20px;') 
                span(style='color:#0a1a22;') 
                  strong Heel Chop
              
            .item(style='text-align: center;padding:0px !important;border:0px solid black;')
              img(src='/img/profile_neymar.jpg', style='margin-top: -1%;')
            ion-item(style='margin-top:-20px;padding-top:20px;background-color:#05151e;border:0px solid #132630 !important')
              p(style='float:left;') 
                span(style='color:#fff;') Neymar Jr.
              p(style='float:right;') 
                span(style='color:#fff;') Comments (39)
        