ion-view#page-how(title='', style='background-color:#efefef')
  ion-content.centered-text(padding='true', scroll='true')
    .mobile-heros
      h2 Tapcentive is an end-to-end platform for engaging your customers, influencing their behavior and increasing your revenues.
      img(src='./img/inf_1@2x.jpg')

      h3 Integrate our SDK once
      img.dot(src='./img/inf_dot@2x.jpg')
      img(src='./img/ctp_mobile.jpg')

      h3 Deploy NFC/BLE wherever you want engagement
      img.dot(src='./img/inf_dot@2x.jpg')
      img(src='./img/inf_3@2x.jpg')

      h3 Create sophisticated promotions online
      img.dot(src='./img/inf_dot@2x.jpg')
      img(src='./img/inf_4@2x.jpg')

      h3 Guide customers and keep them engaged
      img.dot(src='./img/inf_dot@2x.jpg')
      img(src='./img/inf_5@2x.jpg')
        
      h3  Track. Measure. Learn.
