ion-view#page-platform-mobile(style='background-color:#ffdd3e')
  ion-content(padding='true', scroll='true', style='padding:0px;margin:0px;')
    ion-slide-box
      ion-slide(style='min-height:550px;')
        .mobile-heros
          h2 A 
            strong complete 
            | cloud based console for creating, managing, and measuring campaigns.
          img(src='./img/box-manager@2x.png', width='100%', style='position:relative;right:0%;')
      ion-slide
        .mobile-heros
          h2.centered-text Manager Summary
          img(src='./img/gif/home_demo_tansparent.gif')
          h3
            ul(style='text-align:left;list-style:disc;margin-left:10%')
              h5(style='margin-left:-5%;padding-top:0%;')
                strong With the Tapcentive Manager, you can:
              li Remotely manage touchpoints, campaigns, and locations
              li Set campaign rules with a click
              li Manage your custom campaign icons and assets
              li Target segments, audiences and locations
              li Get reports, insights and analytics

      ion-slide
        .mobile-heros.centered-text
          h2 Design campaigns right from your desktop
          img(src='img/gif/incentive_type.gif', width='100%')

      ion-slide
        .mobile-heros.centered-text
          h2 Target audiences with differentiated content and mobile experiences
          img(src='img/gif/audiences_real.gif', width='100%')

      ion-slide
        .mobile-heros.centered-text
          h2 Geotarget your customer with precise location-based campaigns
          img(src='img/gif/target_locations.gif', width='100%')

      ion-slide
        .mobile-heros.centered-text
          h2 Track app activations, tap engagements, incentive ditribution, and redemptions
          img(src='img/gif/report.gif', width='100%')