ion-view#page-platform-mobile(style='background-color:#44acd3')
  ion-content(padding='true', scroll='true', style='padding:0px;margin:0px;')
    ion-slide-box
      ion-slide(style='min-height:550px;')
        .mobile-heros
          h2 The Tapcentive Touchpoint - a
            strong &nbsp;visible call to action
            | &nbsp;to trigger mobile engagement with a tap.
          img(src='./img/ctp_laying.png')
      ion-slide
        .mobile-heros
          h2.centered-text Touchpoint Summary
          br
          img(src='./img/ctp_bg@2x.png')
          h3
            ul(style='text-align:left;list-style:disc;margin-left:10%')
              h5(style='margin-left:-5%;padding-top:10%;')
                strong With the Touchpoint, you can:
              li Train consumers to engage over and over again
              li Drive foot traffic where and when you want it
              li Reach both iOS and Android users
              li Receive daily diagnostic updates
              li Customize the look and feel

      ion-slide
        .row.centered-text(style='padding-top:50px;')
          h4
            strong Bluetooth Beacon
            br
            | Bluetooth Smart Ready provides device reach across iOS 7.1+ and Android 4.3+.
        .row.centered-text(style='padding-top:50px;')
          h4
            strong Near Field Communication
            br
            | NFC Type 4 chip provides reach to Android users with or without your mobile app.
        .row.centered-text(style='padding-top:50px;')
          h4
            strong Cellular Radio
            br
            | 2.5/3G GSM module for remote management via the Tapcentive Manager.

      ion-slide
        .mobile-heros.centered-text
          h2 Make it yours
          img(src='img/custom-beacons.png', width='100%')
          p Customize Touchpoint appearance with company logo and colors.



