style.
  .row {
  text-align:left !important;
  }
  h6 {
  text-align:left !important;
  height:60px !important;
  padding:0px !important;
  margin:0px !important;
  }
  h2 {
  text-align:left !important;

  }
  p {
  }
  .bullets {
  margin-bottom:20px;
  margin-left:20px;
  list-style-type: square !important;
  }
  .no {
  list-style:none;
  margin-left:0px;
  }

ion-view#page-about-mobile(title='')
  ng-include(src="'actionsheet.html'")
  ion-content(padding='true', scroll='true')
    section#main-content.first(style='background-color: #efefef;margin-top:-80px;padding-top:80px;')
      div(ng-bind-html='blob') {{blob}}